$font-size: 14px;

body {
	font-size: $font-size;
}

// ITEMS
.topic-item, .agenda-item {
	font-size: 44px;
	line-height: 44px;
	font-weight: 300;
}
.topic-item md-card-content, .agenda-item md-card-content {
	background-color: #eee;
}

// AGENDA ITEMS MARKED AS DONE
.item-done {
  text-decoration: line-through;
  color: #aaa;
}

// HIDES VIEWS THAT AREN'T ACTIVE
.view {
	display: none;
}


